# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# other
/.linaria-cache

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# This is the Yarn build state; it's local to each clone
.yarn/build-state.yml

# Personally I don't think uploading caches on VCS is a good idea, so:
.yarn/cache/**
.yarn/unplugged/**